/*------------- @MEDIA ------------- @MEDIA -------------*/
@media screen and (max-width: 1784px) {
	/*------------- Header -------------*/
}

/*------------- @MEDIA ------------- @MEDIA -------------*/
@media screen and (max-width: 769px) {
	/*------------- Header -------------*/
	.hamburgerButton {
		display: flex;
	}

	.navbarLinks {
		display: none;
	}

	.copyright span {
		padding-right: 9px;
	}
	.rightContent {
		padding: 15px 1px;
		display: none;
	}

	main {
		display: unset;
		width: 105%;
	}

	.slides img,
	.slides2 img,
	.slides3 img,
	.slides4 img,
	.slides5 img,
	.slides6 img {
		width: 100%;
		height: 100%;
	}

	.bottom {
		grid-gap: 1.5rem;
		font-size: 0.75rem;
	}
}

/*------------- @MEDIA ------------- @MEDIA -------------*/
@media screen and (max-width: 635px) {
	.footerContent {
		justify-content: center;
	}
}

@media screen and (max-width: 541px) {
	.footerLinks ul {
		font-size: 13px;
	}
}

@media screen and (max-width: 376px) {
	.footerContent {
		display: flex;
		justify-content: space-evenly;
	}

	.copyright {
		display: inline-block;
		flex-wrap: wrap;
		text-align: center;
		align-self: center;
	}

	.copyright span {
		padding: 0;
	}

	.copyright p {
		margin: 10px;
	}

	.footerLinks ul {
		margin: 10px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.footerLinks ul li {
		margin: 4px;
	}
}
