* {
	box-sizing: border-box;
	user-select: none;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	color: white;
	background-color: #051e37; /* ska kanske Ändra till svart*/
}

/*------------------  Scrollen  ------------------*/

/* width */
::-webkit-scrollbar {
	width: 0;
}
